<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="fragments/layout :: head('Devmaster:Liên hệ (DVH)')"></head>
<body>
<header th:replace="fragments/layout :: header"></header>

<section class="container" style="min-height: 268px">
    <div class="row">
        <h3>LIÊN HỆ (DVH)</h3>
        <p>
            Địa chỉ: Tòa nhà VIỆN CÔNG NGHỆ<br/>
            Số 25, Phố Vũ Ngọc Phan, Láng Hạ, Đống Đa, Hà Nội
        </p>
    </div>
</section>

<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>
